@model EmailForm
<div class="container bg-light" style="width: 500px;">
    <h2 class="text-warning">Edit Form</h2>
    <form method="post" class="row" enctype="multipart/form-data" style="width: 350px;">
        @*<div asp-validation-summary="All"></div>*@
       @*<input asp-for="ID" hidden />*@
@*        <input asp-for="ImageUrl" hidden />
*@       <div class="row">
           <div class="col-10">
                <div class="form-group mt-2 ">
                <input type="text" asp-for="FirstName"  class="form-control pt-20" placeholder="First Name" />
                <span asp-validation-for="FirstName"></span>
            </div>
            <div class="form-group mt-2 ">
                <input type="text" asp-for="LastName"  class="form-control" placeholder="Last Name" />
                <span asp-validation-for="LastName"></span>
            </div>
            <div class="form-group mt-2 ">
                <select class="form-select" asp-for="Gender" >
                    <option value="">Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="form-group mt-2 ">
                <input type="email" asp-for="Email"  class="form-control" placeholder="Email" />
                <span asp-validation-for="Email"></span>
            </div>
                <div class="form-group mt-2 ">
                    <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
            <div class="form-group mt-2 ">
                <input type="file" name="file" asp-for="ImageUrl"  class="form-control"  />
                    <span asp-validation-for="ImageUrl"></span>

            </div>
            <div class="mt-2 ">
                <input id="submit" type="submit" value="Update" class="btn btn-success " />
            </div>
           </div>

            <div class="col-2" >
                <img src="@Model.ImageUrl" width="200";    alt="footballpicture" style="border-radius: 5px;  border: 1px solid black"/>
            </div>
       </div>
        
    </form>



</div>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
